extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  button(onclick='yareyaredaze()' style="color: transparent; background-color: transparent; border-color: transparent; cursor: pointer")
    h2 TEXT
  div(style='margin-left: auto; text-align: center;')
    div.w3-animate-opacity.gradient-border(id="jojo-reference")
      img(src='/gifs/yareyaredaze.gif' id='jojo' style='width: 100%;' onclick="document.location.href=\'./library/\';")
    div.gradient-border(id='startbutton')
      button.w3-button.w3-padding-large.w3-pink(onclick='start()' id='liar' style='border-radius:3px')
        h1 В библиотеку

  script.
    var yareyare = new Audio('/audio/yareyaredaze.mp3');
    var supersong = new Audio('/audio/datsong.mp3');
    var yareyareactive = false;
    function start()
    {
        document.getElementById('jojo-reference').style.display = 'inline-block';
        document.getElementById('startbutton').style.display = 'none';
        yareyare.loop = true;
        supersong.loop = true;
        supersong.volume = 0.05;
        yareyare.play();
        yareyareactive = true;
        supersong.play();
    }


    function yareyaredaze()
    {
        if(yareyareactive)
        {
            yareyare.pause();
            yareyareactive = false;
        }
        else
        {
            yareyareactive = true;
            yareyare.play();
        }
    }
